@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-3xl: 115.625rem;
  --breakpoint-4xl: 137.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-plex: var(--font-henken-grotesk);
  --border: #3d3838;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131010;
    --foreground: #b8b2b2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: plex, Arial, Helvetica, sans-serif;
}
