@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-3xl: 115.625rem;
  --breakpoint-4xl: 137.5rem;

  --color-border: #27272a;
  --color-border-muted: #18181b;

  --font-plex: var(--font-oswald);
  --font-mono: var(--font-ibm-plex-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
    --border: #27272a;
    --border-muted: #18181b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer base {
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
}

@layer utilities {
  .glow-subtle {
    box-shadow: black;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.font-plex {
  font-family: var(--font-oswald);
}

.font-mono {
  font-family: var(--font-ibm-plex-mono);
}
